@import '~scss/variables/colors';
@import '~scss/mixins/rem';

.header {
  align-items: center;
  background-color: $bg-header;
  display: flex;

  .header-logo {
    margin: 10px;
  }

  .header-title {
    color: $text-white;
  }
}

@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
    justify-content: center;

    .header-logo,
    .header-title {
      margin: 0;
      padding: 5px 0;
    }
  }
}
