@import '~scss/variables/colors';
@import '~scss/mixins/rem';

.header {
  @include rem(height, 70px);

  align-items: center;
  background-color: $bg-header;
  display: flex;

  .header-logo {
    @include rem(margin, 10px);
  }

  .header-title {
    color: $text-white;
  }
}

@media screen and (max-width: 425px) {
  .header {
    flex-direction: column;
    justify-content: center;

    .header-logo,
    .header-title {
      @include rem(padding, 5px 0);

      margin: 0;
    }
  }
}
