@import '~scss/variables/colors';
@import '~scss/mixins/box-shadow';
@import '~scss/mixins/rem';

.comment {
  @include box;
  @include rem(margin, 5px 0);
  @include rem(max-width, 500px);
  @include rem(padding, 10px);

  width: 100%;
  word-wrap: break-word;

  .comment-author-row {
    display: flex;
    justify-content: flex-start;

    > * {
      @include rem(margin, 10px);
    }
  }

  .comment-text code {
    display: block;
    overflow: auto;
  }
}
