*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  background-color: $bg-main;
  font-family: $main-font;
  height: 100%;
  width: 100%;
}

h1 {
  @include rem(font-size, 24px);
  font-family: $title-font;
}
