@import '~scss/mixins/rem';
@import '~scss/variables/colors';

.nav-menu {
  @include rem(min-height, 20px);

  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 10px 0;

  a {
    color: $text-black;
  }
}
