@import '~scss/mixins/page-center';

.item-page {
  @include page-center;

  .item-page-row {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .item-page-author,
  .item-page-time {
    margin: 0 10px;
  }

}
