@import '~scss/mixins/page-center';

.item-page {
  @include page-center;

  .row {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .author,
  .time {
    margin: 0 10px;
  }

}
