@import '~scss/variables/colors';
@import '~scss/mixins/rem';

.loader {
  @include rem(height, 64px);
  @include rem(margin, 10px auto);
  @include rem(width, 64px);

  align-items: center;
  animation: loader-bg 2s infinite;
  background-color: $loader-bg-color;
  display: flex;
  justify-content: center;

  > * {
    position: absolute;
  }
}

.letter {
  @include rem(font-size, 52px);

  animation: loader-spin 2s infinite;
  font-family: 'Trebuchet MS', Gadget, sans-serif;
  font-style: normal;
  font-weight: bold;
  text-anchor: start;
  transform-origin: center;
}

.border {
  @include rem(height, 54px);
  @include rem(width, 42px);
  @include rem(border-width, 4px);

  animation: loader-spin 2s infinite;
  border: solid $loader-border-color;
  transform-origin: center;
}

@keyframes loader-spin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@keyframes loader-bg {
  0% {
    opacity: .1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .1;
  }
}
