@import '~scss/variables/colors';
@import '~scss/mixins/box-shadow';
@import '~scss/mixins/rem';

.news-item {
  @include rem(margin, 5px 10px);
  @include rem(max-width, 600px);
  @include rem(padding, 5px);
  @include box;

  width: 90%;

  .title {
    @include rem(font-size, 18px);

    color: $text-gray;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    width: 85%;
  }

  .arrow {
    margin-right: 15px;
    transform: rotate(-90deg);
    transition: transform .3s linear;
  }

  .rotate {
    transform: rotate(0);
  }

  .row,
  .detail-row {
    @include rem(margin-top, 10px);
    align-items: center;
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .news-item .time {
    margin: 0 auto;
  }
}

@media screen and (max-width: 425px) {
  .detail-row {
    flex-direction: column;
    justify-content: center;

    > * {
      margin: 3px;
    }
  }
}
