@import '~scss/variables/colors';
@import '~scss/mixins/box-shadow';
@import '~scss/mixins/rem';

.news-item {
  @include rem(margin, 5px 10px);
  @include rem(max-width, 600px);
  @include rem(padding, 5px);
  @include box;

  width: 90%;

  .news-item-title {
    @include rem(font-size, 18px);

    color: $text-gray;
    font-style: italic;
    font-weight: 500;
    text-decoration: none;
    width: 85%;
  }

  .news-item-arrow {
    @include rem(margin-right, 15px);
    transform: rotate(-90deg);
    transition: transform .3s linear;
  }

  .news-item-rotate {
    transform: rotate(0);
  }

  .news-item-row,
  .news-item-detail-row {
    @include rem(margin-top, 10px);
    align-items: center;
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .news-item-open-item {
    @include rem(margin-top, 10px);

    text-align: center;
    width: 100%;

    a {
      color: $text-black;
    }

    i {
      @include rem(margin, 0 3px);
    }
  }
}

@media screen and (max-width: 425px) {
  .news-item-detail-row {
    flex-direction: column;
    justify-content: center;

    > * {
      @include rem(margin, 3px);
    }
  }
}
