$bg-white: #ffffff;
$bg-main: #eaeaea;
$bg-black: #000000;
$bg-header: #222;
$border-bnt: #18ab29;
$border-main-color: #333;
$bg-bnt: #44c767;
$bg-bnt-hover: #5cbf2a;
$text-white: #ffffff;
$text-gray: #222;
$shadow-light: rgba(153, 153, 153, 1);
$box-shadow-color: rgba(0,0,0,0.67);
$text-black: #000000;


$loader-bg-color: #fa6a21;
$loader-border-color: #191916;
