$bg-white: #ffffff;
$bg-main: #eaeaea;
$bg-black: #000000;
$bg-header: #222;
$border-bnt: #18ab29;
$bg-bnt: #44c767;
$bg-bnt-hover: #5cbf2a;
$text-white: #ffffff;
$text-gray: #333333;
$shadow-light: rgba(153, 153, 153, 1);
